.plan_section {
    background-color: #7B00FF;
    width: 100%;
    max-width: 210px;
    margin: 50px auto;
    margin-bottom: 25px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    padding-bottom: 16px;
    box-shadow: rgba(76, 74, 74, 0.25) 0px 10px 20px 0px, rgba(255, 255, 255, 0.1) 0px 5px 25px -8px;
  
  }
  
  .plan_icon {
    /* background-image: url('http://[::1]:5173/resources/images/Plan_icon.png'); */
    background-image: url('../../images/Plan_icon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color: #3A0771;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    border: 2.5px solid white;
    position: relative;
    left: 75px;
    top: -32px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 7px 5.9px 1px,  rgba(0, 0, 0, 0.1) 0px 26px 11px 0px;
  }
  
  .Plan_detail {
    padding: 0 16px;
    color: white
  }
  
  .Plan_detail div h4 {
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    padding-bottom: 16px;
  }
  
  .Plan_detail div h5 {
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding-bottom: 16px;
  }
  .storage{
    display: flex;
    justify-content: space-between;
  }
  .progress_bar{
    background-color: rgba(51, 51, 51, 0.2);
  }
  
  .upgrade_button {
    background: white;
    border: none;
    padding: 14px 24px;
    font-size: 18px;
    font-weight: 500;
    color: #0D062D;
    border-radius: 24px;
    display: flex;
    margin: 0 auto;
  }
  
  .progress-bar-container {
    padding: 0;
    width: 177px;
    height: 10px;
    overflow: hidden;
    background: rgba(210, 35, 35, 20%);
    border-radius: 6px;
    margin-bottom: 16px;
  }
  
  .progress-bar {
    position: relative;
    float: left;
    min-width: 1%;
    height: 100%;
    background: #F6F6F6;
    border-radius: 6px;
  }